@model IEnumerable<ProvaPublicadaViewModel>

@{
    ViewData["Title"] = "Minhas Avaliações";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Avaliacao
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorProva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaObtida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Disciplina) / @Html.DisplayFor(modelItem => item.Materia) / @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorProva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaObtida)
                </td>
                <td>
                    @if (item.Status == "Agendada" || item.Status == "Disponível")
                    {
                        <label>---</label>
                    }
                    @if (item.Status == "Perdida")
                    {
                        <label>0</label>
                    }
            </tr>
        }
    </tbody>
</table>
