@model OpcaoAvaliacaoViewModel
@{
    ViewData["Title"] = "Exclusão de Opção";
}

@ViewData["OpcoesTipo"] = ObterOpcoesTipo(model.Tipo);
<h2>Avaliação</h2>
<h4>@Html.DisplayNameFor(model => model.Questao.Avaliacao.Disciplina) / @Html.DisplayNameFor(model => model.Questao.Avaliacao.Materia) / @Html.DisplayNameFor(model => model.Questao.Avaliacao.Descricao)</h4>

<hr />
<h3>Confirma a exclusão dessa questão?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
            @Html.DisplayNameFor(model => model.Verdadeira)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
            <input type="checkbox" asp-for="Verdadeira"/>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" />
        <a asp-action="Index" class="btn btn-default">Cancelar</a>
    </form>
</div>
