@model IEnumerable<OpcaoAvaliacaoViewModel>
@{
    ViewData["Title"] = "Opção avaliação";
}
<h2>Avaliação</h2>
<h4>@Html.DisplayNameFor(model => model.Questao.Avaliacao.Disciplina) / @Html.DisplayNameFor(model => model.Questao.Avaliacao.Materia) / @Html.DisplayNameFor(model => model.Questao.Avaliacao.Descricao)</h4>
<h5>Marque as opções verdadeiras</h5>
<p>
    <a asp-action="Create" class="btn btn-default">Nova Opção</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Opção</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Verdadeira)</td>
                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" title="Editar Avaliação"></i></a>&nbsp;
                    <a asp-action="Index" asp-controller="OpcaoAvaliacao" asp-route-avaliacaoId="@item.Id"><i class="fas fa-tools" title="Construir Avaliação"></i></a>&nbsp;
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt" title="Excluir Avaliação"></i></a>&nbsp;
                </td>
            </tr>
        }
    </tbody>
</table>